
a   {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .5s;
    
    }



.navbar{
        margin-bottom: 50px;
        border-bottom: $color-primario 1px solid;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        background-color: $color-uno;

    li{

    color: $color-primario;
    a{
        color:black;
        font-size: 1.7rem;
        font-weight: 500;
    }
    a:link {
        color:black;
    a:visited{
        color: $color-tres;
    }
}
}
}

img{
    width: 7rem;
}


